*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    background-color: rgb(255, 255, 166);
    box-shadow: 0 0 10px rgba(0,0, 0,0.2);
    padding: 3rem;
}
nav > a{
    font: 500 1.7rem cursive;
    color: aqua;
    text-decoration: none;
    margin:  0 0.2rem;
}

input{
padding: 0.7rem;
border-radius: 5px;
border: 1px solid rgba(94, 74, 208, 0.807);
outline: none;
}

form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 80vh;
gap: 20px;
}
.home{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    
}

.coin{
padding: 2rem;
background-color: rgb(199, 242, 83);
border-radius: 15px;
width: 200px;
height: 200px;
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
font-family: sans-serif;
}
.coin > img {
    width: 60%;
    height: 100px;
    object-fit: contain;
}
.coin > h1{
    text-transform: uppercase;
    gap: 10px;
}
.Loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.Loading > div{
    width: 300px;
    height: 300px;
    border-bottom: 4px solid rgb(58, 52, 52);
    border-radius:  50%;
    animation: rotation 0.5s infinite ease-in;
}
.Loading > p{
    font: 400 2rem sans-serif;
    margin: 2rem;
}

@keyframes rotation {
    to{
        transform: rotateZ(360deg);
    }
}