*{
    margin: 0;
    padding: 0;
}

body{
  background-color: #3498DB;
  overflow: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; 
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    position: relative;
}

.card-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 320px;
    background-color: #393636;
    color: #ffffff;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 80px;
    border: 2px solid #e0d7d7;
    border-radius: 5%;
   /* border-top-right-radius: 0; */
    margin-top: 50px;
    margin-left: 30px;
    translate: -50% -50%;
    backdrop-filter: blur(15px);
}
.card-wrapper div img {
    border: 2px solid #ffffff30;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.designation h3 {
    text-align: center;
    color: #ffffff85;
  }
  .user-name h2 {
    font-size: 2rem;
    text-align: center;
  }
  .bottom-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }


  .btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    text-transform: capitalize;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
  }
  .btn-follow {
    text-transform: capitalize;
    width: 150px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.5s;
  }
  .btn-card:hover {
    background: #ffffffb9;
    color: #131313;
  }
 
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    scale: 0;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
  }

  .modal-header {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
  }
  .modal-header div i {
    font-size: 30px;
  }

  
  .close {
    cursor: pointer;
  }

  .icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon {
    border: 1px solid #ffffff88;
    padding: 17px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
  }

  .icon i {
    font-size: 27px;
  }
  
  #facebook {
    color: #1771e6;
    border: 1px solid #1771e6;
  }
  #facebook:hover {
    background-color: #1771e6;
    color: #fff;
  }
  
  #linkedin{
    color: #0081c2;
    border: 1px solid #0081c2;
  }

  #linkedin:hover{
    background-color: #0081c2;
    color: #fff;
  }
  #instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
  }
  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }
  
  #whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
  }
  #whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
  
  #telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
  }
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }
  
 
.active {
    scale: 1;
  }
  .overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
  }
  .overlayactive {
    opacity: 1;
    pointer-events: initial;
  }

  @media (max-width: 850px) {
    
    .card-wrapper {
      max-width: 250px;
      width: 300px;
      transform: rotate(-45deg);
    }
    .bottom-group {
      flex-direction: column;
    }
    .modal {
      width: 70vw;
    }
  }
  
  @media (max-width: 400px) {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-wrapper {
      position: static;
      top: 0;
      left: 0;
      translate: 0 0;
      margin: 0 12px;
      padding: 0 10px;
    }
    .card-wrapper div img {
      width: 120px;
      height: 120px;
    }
    .user-name h2 {
      font-size: 1.3rem;
    }
    .modal {
      width: 80vw;
    }
  }

/* 
  .drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: 30px;
    margin: 0 auto;
    background: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite; 
    -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
  }
  
  .drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid rgba(255,255,255,1);
    top: -22px;
  }
  
  .wave {
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #FFF 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;
    border: #FFF 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  @keyframes ripple {
      from {
        opacity: 1;
      }
      to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
      }
  }
  
  @keyframes ripple-2 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    100% {
      width: 200px;
      height: 100px;
      border-width: 1px;
      top: 100px;
      left: 200px;
    }
  }
  
  @keyframes drip {
      to {
        top: 250px;
      }
      100%{
        align-items: center;
        justify-items: center;
      }
  } */